.flex-container {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  top: 0;
  left: 0;
  width: 85%;
}

.flex-container > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background-image: url("https://n6-img-fp.akamaized.net/free-vector/abstract-background-with-hexagonal-pattern_1319-67.jpg?size=338&ext=jpg");
  background-color: #cccccc;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
}

.aside {
    width: 13%;
    height: 100%; 
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: gray;
    text-align: center;
}

.container {

}

a {
text-decoration: none;
padding: 10px;
font-size: 20px;
}
a:visited{color: purple;}
a:hover{color: green;}