{% load static %} 

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'Fibonacci/style.css' %}" type="text/css"/>
    </head>

    <body>
        <script src="{% static 'Fibonacci/fib.js' %}" type="text/javascript"></script>
    </body>
</html>