{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/Style.css' %}"/>
	<title>Blogatog</title>
</head>

<body class="flex-container">
	<header class="header"> 
		<h1> My blog! </h1> 
		<nav>
			<a href="{% url 'bio' %}"> About Me </a>
			<a href="{% url 'index' %}"> Main page  </a>
			<a href="{% url 'cheatsheet' %}"> Tech tips </a>
		</nav>
	</header>
	<aside class="aside">
		<nav class="flex-container">
			<a class="container" href="http://www.google.com">Google.com</a>
		</nav>
	</aside>
	
	<img class="container" src="{% static 'images/MyPicture.JPG' %}" >
		
		<main class="main">
		
		<article>
			<h2>Me</h2>
			<p> Currently I am a student of Utah State University
				I am studying computer science because I feel it is innovative, I
				enjoy coding, and I feel it will be a 
				good source of income for my family.</p>
		</article>
	
		<article>	
			<h2>My Family</h2>
			<p>I am married to my wife Tiffany Bean. She is also going to Utah State 
				studying... she hasn't decided. We have two dogs, a goldendoodle named Dublin
				and a Coton de Tulear named Cosy. We also have a bunny and 3 hedgehogs.
			</p>
		</article>
	
		<article>
			<h2>My Hobbies</h2>
			<p> I like hanging out with my wife and our dogs. 
				It's probably my favorite thing to do.
				I also like playing	N64 with my friends
				 and working on projects around the house.
				</p>
		</article>

		</main>

	<footer class="footer">
	<p> Created by Scott Johnson</p>
	<p> A01843939 </p>
	<p> {{time}} </p>
	</footer>
</body>

</html>