{% load static %}

<!DOCTYPE html>
<html>

<!-- This is an HTML comment -->
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/Styles.css'%}"/>
	<title>This is the title, which belongs in the head of the webpage</title>
</head>
	<body class="flex-container">
	<header class="header"> 
		<h1> My blog! </h1> 
		<nav>
			<a href="{% url 'bio' %}"> About Me </a>
			<a href="{% url 'index' %}"> Main page  </a>
			<a href="{% url 'cheatsheet' %}"> Tech tips </a>
		</nav>
	</header>

		<aside class="aside">
			<nav class="flex-container">
				<a class="container" href="http://www.google.com">Google.com</a>
			</nav>
		</aside>

		<h1>This is the h1 It is a block-level element.</h1>
		<h2>This is the h2</h2>
		<p>This is the p. It is short for paragraph. It is a block-level element. It can span many lines, and contain lots of text.

			If I put linebreaks in the text, what happens to them in the document as I view it in the browser?

			That is a good question,     I'm glad you asked.

			Whitespace within the paragraph tag is disregarded when the browser renders the text</p>
		<h2><code>This is the code element. It is an inline element. </code></h2>

		<code>This is the code element</code>


		<p>
			The img tag is an empty element. It has no closing tag, and therefore no contents.
		</p>

		<p>
			<a href="http://www.google.com">Make a search by setting the href attribute to a URL</a>
		</p>

		<p>
			For fun, you might submit www.spacejam.com at the 
			<a href="https://validator.w3.org/">W3C Validator</a>
			to see how it fares.
		</p>

		<p>
			<a href="http://www.spacejam.com">
				<img src="https://www.warnerbros.com/archive/spacejam/movie/img/p-jamlogo.gif"
					alt="The SpaceJam logo goes here"
					title="The hottest movie of 1996!">
			</a>
		</p>
	<div class="main">
		<ol>
			<li>
				<ul>
					<li>This is a unique li in position #3</li>
					<li>This is the li</li>
					<li>This is the li</li>
					<li>This is the li</li>
					<li>This is the li</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>This is a unique li in position #3</li>
					<li>This is the li</li>
					<li>This is the li</li>
					<li>This is the li</li>
					<li>This is the li</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>This is a unique li in position #3</li>
					<li>This is the li</li>
					<li>This is the li</li>
					<li>This is the li</li>
					<li>This is the li</li>
				</ul>
			</li>
		</ol>
	</div>
	<footer class="footer">
	<p> Created by Scott Johnson</p>
	<p> A01843939 </p>
	<p> {{time}}  </p>
	</footer>
	</body>
</html>