{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/Style.css' %}" />
	<title>Blogatog</title>
</head>

<body class="flex-container">
	<header class="header"> 
		<h1> Main Page </h1> 
		<nav>
			<a href="{% url 'bio' %}"> About Me </a>
			<a href="{% url 'index' %}"> Main page  </a>
			<a href="{% url 'cheatsheet' %}"> Tech tips </a>
		</nav>
	</header>
	<aside class="aside">
		<nav class="flex-container">
			<a class="container" href="http://www.google.com">Google.com</a>
		</nav>
	</aside>
		
		<main class="main" style="text-align: center; font-size: 30px">
			Try clicking one of the links above :)
		</main>

	<footer class="footer">
	<p> Created by Scott Johnson</p>
	<p> A01843939 </p>
	<p>{{time}}</p>

	</footer>
</body>

</html>